node_modules

src/dist/
dist/
dist/builder-effective-config.yaml
dist/zeroquake-0.5.0-x64.nsis.7z
dist/win-unpacked/chrome_100_percent.pak
dist/win-unpacked/chrome_200_percent.pak
dist/win-unpacked/d3dcompiler_47.dll
dist/win-unpacked/ffmpeg.dll
dist/win-unpacked/icudtl.dat
dist/win-unpacked/libEGL.dll
dist/win-unpacked/libGLESv2.dll
dist/win-unpacked/LICENSE.electron.txt
dist/win-unpacked/LICENSES.chromium.html
dist/win-unpacked/resources.pak
dist/win-unpacked/snapshot_blob.bin
dist/win-unpacked/v8_context_snapshot.bin
dist/win-unpacked/vk_swiftshader_icd.json
dist/win-unpacked/vk_swiftshader.dll
dist/win-unpacked/vulkan-1.dll
dist/win-unpacked/Zero Quake.exe
dist/win-unpacked/locales/af.pak
dist/win-unpacked/locales/am.pak
dist/win-unpacked/locales/ar.pak
dist/win-unpacked/locales/bg.pak
dist/win-unpacked/locales/bn.pak
dist/win-unpacked/locales/ca.pak
dist/win-unpacked/locales/cs.pak
dist/win-unpacked/locales/da.pak
dist/win-unpacked/locales/de.pak
dist/win-unpacked/locales/el.pak
dist/win-unpacked/locales/en-GB.pak
dist/win-unpacked/locales/en-US.pak
dist/win-unpacked/locales/es-419.pak
dist/win-unpacked/locales/es.pak
dist/win-unpacked/locales/et.pak
dist/win-unpacked/locales/fa.pak
dist/win-unpacked/locales/fi.pak
dist/win-unpacked/locales/fil.pak
dist/win-unpacked/locales/fr.pak
dist/win-unpacked/locales/gu.pak
dist/win-unpacked/locales/he.pak
dist/win-unpacked/locales/hi.pak
dist/win-unpacked/locales/hr.pak
dist/win-unpacked/locales/hu.pak
dist/win-unpacked/locales/id.pak
dist/win-unpacked/locales/it.pak
dist/win-unpacked/locales/ja.pak
dist/win-unpacked/locales/kn.pak
dist/win-unpacked/locales/ko.pak
dist/win-unpacked/locales/lt.pak
dist/win-unpacked/locales/lv.pak
dist/win-unpacked/locales/ml.pak
dist/win-unpacked/locales/mr.pak
dist/win-unpacked/locales/ms.pak
dist/win-unpacked/locales/nb.pak
dist/win-unpacked/locales/nl.pak
dist/win-unpacked/locales/pl.pak
dist/win-unpacked/locales/pt-BR.pak
dist/win-unpacked/locales/pt-PT.pak
dist/win-unpacked/locales/ro.pak
dist/win-unpacked/locales/ru.pak
dist/win-unpacked/locales/sk.pak
dist/win-unpacked/locales/sl.pak
dist/win-unpacked/locales/sr.pak
dist/win-unpacked/locales/sv.pak
dist/win-unpacked/locales/sw.pak
dist/win-unpacked/locales/ta.pak
dist/win-unpacked/locales/te.pak
dist/win-unpacked/locales/th.pak
dist/win-unpacked/locales/tr.pak
dist/win-unpacked/locales/uk.pak
dist/win-unpacked/locales/ur.pak
dist/win-unpacked/locales/vi.pak
dist/win-unpacked/locales/zh-CN.pak
dist/win-unpacked/locales/zh-TW.pak
dist/win-unpacked/resources/app-update.yml
dist/win-unpacked/resources/app.asar
dist/win-unpacked/resources/elevate.exe
src/config/

out/
src/electron-builder.env
