/* fallback */
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIconsRound.woff2) format("woff2");
}

.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fff;
}

#mapcontainer {
  width: 100%;
  height: 80vh;
  background: #202227;
  border-bottom: solid 2px #999;
  position: fixed;
  outline: none;
  border: none;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  top: 80vh;
  background: #222;
  display: block;
  border-top: solid 1px #666;
}

h2,
.h2 {
  font-size: 22px;
  line-height: 50px;
  padding: 0;
  margin: 0.1em 0.5em;
  text-align: center;
  font-weight: bold;
  font-family: "M PLUS 1p";
}

#yahooLink,
#tenkijpLink,
#gooLink {
  display: none;
}

table,
tr,
th,
td {
  border: solid 1px #666;
  border-collapse: collapse;
}

tr,
td {
  font-size: 18px;
  padding: 0.2em 0.5em;
}

td {
  text-align: left;
}

#leftSide {
  vertical-align: top;
  display: inline-table;
  width: calc(50% - 10px);
}
#EQInfo {
  width: 100%;
}
#EQInfo th {
  background: #333;
}

#ShindoWrap {
  display: inline-block;
  width: calc(50% - 10px);
}

#ShindoWrap {
  display: none;
}

.ShindoItem {
  background: #333;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  height: 40px;
  padding: 5px;
  font-size: 18px;
}

.ShindoItem1:hover,
.ShindoItem2:hover,
.ShindoItem3:hover {
  background: #444;
}

.ShindoItem1,
.ShindoItem2,
.ShindoItem3 {
  cursor: pointer;
}

.ShindoItem4 {
  cursor: default;
}

.ShindoItem::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.ShindoItem1::before,
.ShindoItem2::before,
.ShindoItem3::before {
  background-image: url(../img/expand_more.svg);
  background-size: cover;
}

.ShindoItem1.has-open::before,
.ShindoItem2.has-open::before,
.ShindoItem3.has-open::before {
  transform: rotateZ(180deg);
}

.ShindoItem span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  margin-right: 10px;
  font-family: "M PLUS 1p";
}

.close {
  display: none;
}

.open {
  display: block;
}

.WrapLevel1,
.WrapLevel2,
.WrapLevel3 {
  padding-left: 15px;
}

.ShindoIcon {
  width: 23px;
  height: 23px;
  padding: 3.5px;
}
.zoomLevel_4 .ShindoIcon {
  padding: 0;
}
.zoomLevel_4 .ShindoIcon div {
  width: 23px;
  height: 23px;
  line-height: 23px;
  font-size: 18px;
}

.ShindoIcon div {
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px #000;
  outline: solid 2px #fff;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-family: "M PLUS 1p";
}

.MaxShindoIcon div {
  display: block;
  width: 22px;
  height: 22px;
  border: solid 1px #000;
  outline: solid 2px #fff;
  font-size: 16px;
  line-height: 22px;
  border-radius: 2px;
  text-align: center;
  font-family: "M PLUS 1p";
}
.ShindoIcon,
.MaxShindoIcon {
  transition: opacity 300ms;
}
.zoomLevel_1 .leaflet-marker-icon.MaxShindoIcon,
.zoomLevel_2 .leaflet-marker-icon.MaxShindoIcon {
  opacity: 1;
  pointer-events: auto !important;
}
.zoomLevel_1 .leaflet-marker-icon.MaxShindoIcon div {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  margin: 3.5px;
}
.zoomLevel_1 .leaflet-marker-icon.ShindoIcon,
.zoomLevel_2 .leaflet-marker-icon.ShindoIcon {
  opacity: 0;
  pointer-events: none !important;
}

.zoomLevel_3 .leaflet-marker-icon.MaxShindoIcon,
.zoomLevel_4 .leaflet-marker-icon.MaxShindoIcon {
  opacity: 0;
  pointer-events: none !important;
}
.zoomLevel_3 .leaflet-marker-icon.ShindoIcon,
.zoomLevel_4 .leaflet-marker-icon.ShindoIcon {
  opacity: 1;
  pointer-events: auto !important;
}

#ShindoSample {
  font-size: 0;
  text-align: center;
}

#ShindoSample span {
  font-size: 16px;
}

#ShindoSample div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 3px;
  font-family: "M PLUS 1p";
}

#canceled {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  color: #fff;
  z-index: 999999999999999;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.GJMap {
  transition: fill-opacity 500ms;
}

.zoomLevel_4 .GJMap {
  fill-opacity: 0.3;
}

.zoomLevel_3 .GJMap {
  fill-opacity: 0.5;
}

#ShindoSample0 {
  background: var(--IntTheme_0_BgColor);
  color: var(--IntTheme_0_color);
}

#ShindoSample1 {
  background: var(--IntTheme_1_BgColor);
  color: var(--IntTheme_1_color);
}

#ShindoSample2 {
  background: var(--IntTheme_2_BgColor);
  color: var(--IntTheme_2_color);
}

#ShindoSample3 {
  background: var(--IntTheme_3_BgColor);
  color: var(--IntTheme_3_color);
}

#ShindoSample4 {
  background: var(--IntTheme_4_BgColor);
  color: var(--IntTheme_4_color);
}

#ShindoSample5m {
  background: var(--IntTheme_5m_BgColor);
  color: var(--IntTheme_5m_color);
}

#ShindoSample5p {
  background: var(--IntTheme_5p_BgColor);
  color: var(--IntTheme_5p_color);
}

#ShindoSample6m {
  background: var(--IntTheme_6m_BgColor);
  color: var(--IntTheme_6m_color);
}

#ShindoSample6p {
  background: var(--IntTheme_6p_BgColor);
  color: var(--IntTheme_6p_color);
}

#ShindoSample7 {
  background: var(--IntTheme_7_BgColor);
  color: var(--IntTheme_7_color);
}
#AllOpen,
#AllClose {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 25px;
  padding: 0;
  font-size: 18px;
}
#data_comment {
  margin: 10px;
}
#data_comment li {
  margin-top: 5px;
}
#data_comment li time {
  font-size: 14px;
  margin-right: 5px;
  color: #ccc;
  font-family: ui-monospace, sans-serif;
}
