@charset "utf-8";
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
}
#mapcontainer_Wrap {
  width: 100%;
  height: 80vh;
  position: fixed;
  border-bottom: solid 2px #62626c;
}
#mapcontainer {
  width: 100%;
  height: 80vh;
  background: #180e0e;
  outline: none;
  border: none;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  top: 80vh;
  background: #222225;
  display: block;
  height: fit-content;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
}

main h2,
main .h2 {
  font-size: 22px;
  line-height: 50px;
  padding: 0;
  margin: 1em 0.5em 0.1em 0.5em;
  text-align: center;
  font-weight: bold;
  font-family: "M PLUS 1p";
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: none;
}
tr {
  border-bottom: solid 1px #62626c;
}

tr,
td {
  font-size: 18px;
  padding: 0.2em 0.5em;
}
th {
  padding-right: 1em;
  text-align: right;
}

td {
  text-align: left;
}
#tableWrap {
  max-width: 1300px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 0;
}
#leftSide,
#ShindoWrap {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 20px);
  padding: 10px;
  text-align: left;
  margin: 5px;
  font-size: initial;
  word-break: break-word;
}

@media (max-width: 650px) {
  #leftSide,
  #ShindoWrap {
    display: block;
    width: 100%;
  }
}

#EQInfo {
  width: 100%;
}

#EQInfo th {
  color: #ccc;
}

#ShindoWrap {
  display: none;
}

.ShindoItem,
.ShindoItemL {
  position: relative;
  border: solid 1px #62626c;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  border-radius: 4px;
  margin: 4px;
  background: #3f3f42;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ShindoItem::after,
.ShindoItemL::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: 0;
  right: 0;
}

#Shindo .ShindoItem1:hover,
#Shindo .ShindoItem2:hover,
#Shindo .ShindoItem3:hover,
#lngintListWrap .ShindoItem1L:hover,
#lngintListWrap .ShindoItem2L:hover,
#lngintListWrap .ShindoItem3L:hover {
  background: #464649;
}

#Shindo .ShindoItem1,
#Shindo .ShindoItem2,
#Shindo .ShindoItem3,
#lngintListWrap .ShindoItem1L,
#lngintListWrap .ShindoItem2L,
#lngintListWrap .ShindoItem3L {
  cursor: pointer;
}

.ShindoItem4,
.ShindoItem4L {
  cursor: default;
}

.ShindoItem span::before,
.ShindoItemL span::before {
  content: "";
  display: inline-block;
  font-size: 16px;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  width: 20px;
  vertical-align: middle;
}

.ShindoItem1 span::before,
.ShindoItem2 span::before,
.ShindoItem3 span::before,
.ShindoItem1L span::before,
.ShindoItem2L span::before,
.ShindoItem3L span::before {
  content: "chevron_right";
}

.ShindoItem1.has-open span::before,
.ShindoItem2.has-open span::before,
.ShindoItem3.has-open span::before,
.ShindoItem1L.has-open span::before,
.ShindoItem2L.has-open span::before,
.ShindoItem3L.has-open span::before {
  content: "expand_more";
}

#homeShindo .ShindoItem::before,
#homeShindoL .ShindoItemL::before {
  content: "";
}

.ShindoItem div,
.ShindoItemL div {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  margin-right: 10px;
  font-family: "M PLUS 1p";
  outline: solid 1px #fff;
  forced-color-adjust: none;
}

.ShindoItem4 div,
.ShindoItem4L div {
  border-radius: 50%;
}

.ShindoItem4 span,
.ShindoItem4L span {
  border-radius: 50%;
}

.close {
  display: none;
}

.open {
  display: block;
}

.WrapLevel1,
.WrapLevel2,
.WrapLevel3,
.WrapLevel1L,
.WrapLevel2L,
.WrapLevel3L {
  padding-left: 15px;
}

.ShindoIcon,
.LgIntIcon {
  width: 23px;
  height: 23px;
  padding: 3.5px;
  forced-color-adjust: none;
}

.LgIntIcon div::before {
  content: "長";
  font-size: 65%;
  margin-right: 3px;
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: bold;
}

.zoomLevel_4 .ShindoIcon,
.zoomLevel_4 .LgIntIcon {
  padding: 0;
}
.zoomLevel_4 .ShindoIcon div,
.zoomLevel_4 .LgIntIcon div {
  width: 23px;
  height: 23px;
  line-height: 23px;
  font-size: 18px;
}

.ShindoIcon div,
.LgIntIcon div {
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px #000;
  outline: solid 2px #fff;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-family: "M PLUS 1p";
}

.zoomLevel_4 .LgIntIcon div {
  width: 35px;
}

.MaxShindoIcon,
.MaxLgIntIcon {
  forced-color-adjust: none;
}
.MaxShindoIcon div,
.MaxLgIntIcon div {
  display: block;
  width: 22px;
  height: 22px;
  border: solid 1px #000;
  outline: solid 2px #fff;
  font-size: 16px;
  line-height: 22px;
  border-radius: 2px;
  text-align: center;
  font-family: "M PLUS 1p";
}

.MaxLgIntIcon div {
  width: 35px;
}
.MaxLgIntIcon div::before {
  content: "長";
  font-size: 65%;
  margin-right: 3px;
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: bold;
}

.zoomLevel_1 .MaxShindoIcon,
.zoomLevel_2 .MaxShindoIcon,
.zoomLevel_1 .MaxLgIntIcon,
.zoomLevel_2 .MaxLgIntIcon {
  visibility: visible;
  pointer-events: auto !important;
}
.zoomLevel_1 .MaxShindoIcon div,
.zoomLevel_1 .MaxLgIntIcon div {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  margin: 3.5px;
}

.zoomLevel_1 .MaxLgIntIcon div {
  width: 22px;
}

.zoomLevel_1 .ShindoIcon,
.zoomLevel_2 .ShindoIcon,
.zoomLevel_3 .ShindoIcon,
.zoomLevel_1 .LgIntIcon,
.zoomLevel_2 .LgIntIcon,
.zoomLevel_3 .LgIntIcon {
  visibility: hidden;
  pointer-events: none !important;
}

.has_StaShindo.zoomLevel_4 .MaxShindoIcon,
.zoomLevel_4 .MaxLgIntIcon {
  visibility: hidden;
  pointer-events: none !important;
}

.zoomLevel_4 .ShindoIcon,
.zoomLevel_4 .LgIntIcon {
  visibility: visible;
  pointer-events: auto !important;
}

#ShindoSample,
#LngIntSample {
  font-size: 0;
  text-align: center;
}
.LgIntIcon,
.MaxLgIntIcon,
#LngIntSample {
  display: none;
}

#ShindoSample span,
#LngIntSample span {
  font-size: 16px;
}

#ShindoSample div,
#LngIntSample div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 3px;
  font-family: "M PLUS 1p";
}

#cancelled {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  color: #fff;
  z-index: 999999999999999;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.GJMap {
  transition: fill-opacity 500ms;
}

.zoomLevel_4 .GJMap {
  fill-opacity: 0.3;
}

.zoomLevel_3 .GJMap {
  fill-opacity: 0.5;
}

#ShindoSample0 {
  background: var(--IntTheme_0_BgColor);
  color: var(--IntTheme_0_color);
}

#ShindoSample1 {
  background: var(--IntTheme_1_BgColor);
  color: var(--IntTheme_1_color);
}

#ShindoSample2 {
  background: var(--IntTheme_2_BgColor);
  color: var(--IntTheme_2_color);
}

#ShindoSample3 {
  background: var(--IntTheme_3_BgColor);
  color: var(--IntTheme_3_color);
}

#ShindoSample4 {
  background: var(--IntTheme_4_BgColor);
  color: var(--IntTheme_4_color);
}

#ShindoSample5m {
  background: var(--IntTheme_5m_BgColor);
  color: var(--IntTheme_5m_color);
}

#ShindoSample5p {
  background: var(--IntTheme_5p_BgColor);
  color: var(--IntTheme_5p_color);
}

#ShindoSample6m {
  background: var(--IntTheme_6m_BgColor);
  color: var(--IntTheme_6m_color);
}

#ShindoSample6p {
  background: var(--IntTheme_6p_BgColor);
  color: var(--IntTheme_6p_color);
}

#ShindoSample7 {
  background: var(--IntTheme_7_BgColor);
  color: var(--IntTheme_7_color);
}

#LngIntSample1 {
  background: var(--LngIntTheme_1_BgColor);
  color: var(--LngIntTheme_1_color);
}

#LngIntSample2 {
  background: var(--LngIntTheme_2_BgColor);
  color: var(--LngIntTheme_2_color);
}

#LngIntSample3 {
  background: var(--LngIntTheme_3_BgColor);
  color: var(--LngIntTheme_3_color);
}

#LngIntSample4 {
  background: var(--LngIntTheme_4_BgColor);
  color: var(--LngIntTheme_4_color);
}

#AllOpen,
#AllClose,
#AllOpenL,
#AllCloseL {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
  margin: 0 8px;
}
#data_comment {
  margin: 10px;
}

#homeShindoWrap {
  display: none;
}

#homeShindo .ShindoItem span,
#homeShindoL .ShindoItemL span {
  visibility: hidden;
}
#infoKind {
  text-align: center;
  font-size: 0;
  white-space: nowrap;
  max-width: 100vw;
  overflow-x: auto;
  background: #181818;
}
#infoKind div {
  display: inline-block;
  font-size: 15px;
}

#infoKind .tip {
  display: none;
}
#infoKind span.disabled {
  box-shadow: none;
  color: #777;
}
#estimated_intensity_map_canvas {
  display: none;
}
.estimated_intensity_map_img {
  image-rendering: pixelated;
}

#estimated_intensity_map_toggle {
  background: #3f3f42;
  border: solid 1px #62626c;
  border-radius: 5px;
  padding: 5px;
  margin: 8px 0 0 0;
  z-index: 100000000;
}
#legend3A {
  display: none;
}
#estshindomap_radioWrap,
#LgInt_radioWrap {
  display: none;
}
.shindoItem,
.shindoItem_S {
  display: inline-block;
  font-family: "M PLUS 1p", sans-serif;
  border-radius: 100px;
  padding: 1px 5px;
  outline: solid 1px #fff;
}
.shindoItem_S {
  border-radius: 4px;
}
.pointHead {
  color: #999;
  font-size: 12px;
  text-align: center;
}
.description {
  color: #999;
  font-size: 12px;
  padding: 3px 8px;
}
.maplibregl-popup {
  max-width: unset !important;
}
.maplibregl-popup-content {
  min-width: 0;
}
.epicenterWrp {
  padding: 4px;
}
.NODataCaption {
  text-align: center;
  color: #999;
}
#TsunamiShortMsg_Wrap {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  background: #3f3f42;
  border: solid 1px #62626c;
  color: #ccc;
  height: 35px;
  line-height: 35px;
  width: 240px;
  margin: auto;
  text-align: center;
  font-size: 17px;
  border-radius: 10px;
  z-index: 1000;
  padding: 0 10px;
  pointer-events: none;
}
#TsunamiShortMsg_Wrap div {
  display: inline-block;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
  margin-right: 5px;
}
#EEWLink {
  display: none;
}
#EEWLink span {
  margin-right: 3px;
  font-size: 16px;
  vertical-align: bottom;
}
#LinkWrap {
  margin-top: 20px;
}
#Shindo,
#lngintListWrap {
  display: none;
}
#EEWCaption {
  display: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  background: #111;
  border: solid 1px #f00;
  border-radius: 3px;
  margin: 5px;
}
.epicenterTitle {
  display: inline-block;
  font-family: "M PLUS 1p", sans-serif;
  margin-right: 5px;
  padding: 1px 5px;
  border-radius: 4px;
  background: rgb(149, 46, 46);
}
.maplibregl-ctrl-top-left {
  padding: 8px;
}
#layerSwitch_toggle {
  border: solid 1px #62626c;
  border-radius: 5px !important;
  margin: 0;
}
#estimated_intensity_map_toggle h3 {
  font-weight: normal;
  margin: 5px 5px 7px 5px;
}
#plzScroll {
  font-size: 17px;
  padding: 10px;
  color: #ccc;
  transition: 0.3s;
}
#plzScroll div {
  margin: 0 8px;
  animation-name: ScrollAnm;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.maplibregl-ctrl-top-left {
  pointer-events: all;
}
@keyframes ScrollAnm {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  20% {
    opacity: 1;
    transform: translateY(-1px);
  }
  30% {
    opacity: 1;
    transform: translateY(1px);
  }
  50% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
  }
}
@media (forced-colors: active) {
  #Shindo .ShindoItem1:hover,
  #Shindo .ShindoItem2:hover,
  #Shindo .ShindoItem3:hover,
  #lngintListWrap .ShindoItem1L:hover,
  #lngintListWrap .ShindoItem2L:hover,
  #lngintListWrap .ShindoItem3L:hover {
    filter: invert(1);
  }

  /*重ね掛けで震度職の反転を回避*/
  #Shindo .ShindoItem1:hover div,
  #Shindo .ShindoItem2:hover div,
  #Shindo .ShindoItem3:hover div,
  #lngintListWrap .ShindoItem1L:hover div,
  #lngintListWrap .ShindoItem2L:hover div,
  #lngintListWrap .ShindoItem3L:hover div {
    filter: invert(1);
  }
}
