:root {
  --PwaveColor: rgb(48, 148, 255);
  --SwaveColor: rgb(255, 62, 48);
}
#mapcontainer_Wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
}
#layerSwitch_toggle {
  border-radius: 5px;
  background: #444;
  border: solid 1px #999;
  font-family: "Material Icons Round";
  font-size: 22px;
  width: 45px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 5px;
  z-index: 100000001;
}
#menu {
  position: absolute;
  padding: 10px 5px;
  background: #333;
  border: solid 1px #999;
  border-radius: 10px;
  max-height: calc(100% - 40px);
  overflow-y: auto;
}
#menu_wrap {
  position: absolute;
  inset: 0;
  display: none;
  z-index: 100000001;
  background: rgba(0, 0, 0, 0.5);
}
#menu_wrap.menu_show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu label input {
  display: none;
}
.menu h2 {
  text-align: center;
  margin-bottom: 20px;
}
.menu h3 {
  font-size: 16px;
  margin: 0;
  font-weight: unset;
  font-family: inherit;
  margin: 10px 0 0 10px;
}
.menu label {
  display: block;
  padding: 2px 5px;
  margin: 3px 0;
  font-size: 14px;
  border-radius: 4px;
}
.menu label:hover {
  outline: solid 2px rgb(149, 46, 46);
}
.menu label:has(input:checked) {
  background: rgb(149, 46, 46);
}
.menu .check label::before {
  content: "check_box_outline_blank";
  font-family: "Material Icons Round";
  vertical-align: bottom;
  padding-right: 5px;
}
.menu .check label:has(input:checked)::before {
  content: "check_box";
}
.radio label::before {
  content: "radio_button_unchecked";
  font-family: "Material Icons Round";
  vertical-align: bottom;
  padding-right: 5px;
}
.radio label:has(input:checked)::before {
  content: "radio_button_checked";
}

#mapcontainer {
  display: inline-block;
  width: 100%;
  height: 100vh;
  font-size: 14px;
  background: #272020;
  outline: none;
  border: none;
}
#mapcontainer canvas {
  outline: none;
}

.maplibregl-ctrl {
  background: #444;
  color: #fff;
  border: solid 1px #999;
}
.transparent-ctrl {
  background: transparent;
  border: none;
}
.maplibregl-ctrl-group button + button {
  border-top: none;
}
.maplibregl-ctrl button .maplibregl-ctrl-icon {
  display: none;
}
.maplibregl-ctrl button::before {
  color: #eee;
  font-family: "Material Icons Round";
  font-size: 17px;
}
.maplibregl-ctrl button.maplibregl-ctrl-zoom-in::before {
  content: "add";
}
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out::before {
  content: "remove";
}
.maplibregl-ctrl button.maplibregl-ctrl-compass::before {
  content: "unfold_more";
}

#kmoniCanvas {
  display: none;
}

.maplibregl-popup {
  z-index: 200;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: #888 !important;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #888 !important;
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: #888 !important;
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: #888 !important;
}

.maplibregl-popup-content {
  background: #222;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;

  border: solid 1px #888;
}
.maplibregl-popup-wrapper {
  border-radius: 3px;
  padding: 0;
}
.PointPopup,
.maplibregl-popup-content {
  margin: 0;
  min-width: 180px;
}

.maplibregl-popup-content:has(h3) {
  padding: 35px 5px 5px 5px;
}
.maplibregl-popup-content:has(.PointName) {
  padding: 0;
  height: 30px;
}
.PointPopup h3,
.maplibregl-popup-content h3 {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 25px 0 5px;
  margin: 0;
  font-size: 16px;
  background: #444;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.maplibregl-popup-close-butto,
.maplibregl-popup-close-button:focus {
  height: 30px;
  width: 30px;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  color: #ccc;
}
.maplibregl-popup-content p {
  padding: 0.3em 0;
  margin: 0;
}
.PointPopup h3 span {
  float: right;
  font-size: 11px;
  font-weight: normal;
  font-family: "BIZ UDPGothic", sans-serif;
  color: #ccc;
  line-height: 30px;
}

.maplibregl-popup-content table,
.PointPopup table {
  border-collapse: collapse;
  display: inline-table;
}
.maplibregl-popup-content th,
.maplibregl-popup-content td,
.PointPopup table th,
.PointPopup table td {
  padding: 0.2em 0.8em;
}
.maplibregl-popup-content td,
.PointPopup table td {
  text-align: left;
}

.marker-circle {
  width: 10px;
  height: 10px;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  z-index: 220;
}
.marker-circle-S-net {
  border-radius: 20%;
}
.zoomLevel_1 .detectingMarker,
.zoomLevel_2 .detectingMarker {
  outline: solid 2px rgb(203, 99, 43);
  /*transform: scale(1.2);*/
}
.zoomLevel_3 .detectingMarker,
.zoomLevel_4 .detectingMarker {
  outline: solid 3px rgb(203, 99, 43);
  /*transform: scale(1.2);*/
}
.zoomLevel_1 .strongDetectingMarker,
.zoomLevel_2 .strongDetectingMarker {
  outline: solid 2px rgb(203, 43, 43);
  /*transform: scale(1.5);*/
}
.zoomLevel_3 .strongDetectingMarker,
.zoomLevel_4 .strongDetectingMarker {
  outline: solid 3px rgb(203, 43, 43);
}

.hidePopup {
  display: none;
}
.PointPopup {
  width: 150px;
}
.PointName {
  border-bottom: solid 2px transparent;
}
.PointName span {
  float: right;
  font-size: 11px;
  font-weight: normal;
  color: #ccc;
}
.popupOpen .PointPopup {
  display: block;
}

.detecting {
  display: none;
  margin: 3px 0;
}

.zoomLevel_1 .marker-circle {
  width: 3px;
  height: 3px;
}
.zoomLevel_2 .marker-circle {
  width: 8px;
  height: 8px;
}
.zoomLevel_3 .marker-circle {
  width: 15px;
  height: 15px;
}
.zoomLevel_4 .marker-circle {
  width: 25px;
  height: 25px;
}

.popup_show .PointPopup {
  display: block;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
  background: #444;
  color: #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 3px 8px;
  font-size: 11px;
  pointer-events: none;
}
.maplibregl-ctrl-attrib-inner {
  display: block !important;
}
.maplibregl-ctrl-attrib-inner::before {
  content: "Map: ";
  font-size: 11px;
}
.maplibregl-ctrl-attrib-button {
  display: none !important;
}
#tsunamiSample {
  list-style: none;
  padding: 0;
  margin: 0;
}
#tsunamiSample li {
  padding: 0.2em 0.5em;
}
#tsunamiSample li span {
  display: inline-block;
  height: 5px;
  width: 20px;
  vertical-align: middle;
  margin: 0 5px;
}

#tsunami_MajorWarning span {
  background: var(--TsunamiMajorWarningColor);
}
#tsunami_Warning span {
  background: var(--TsunamiWarningColor);
}
#tsunami_Watch span {
  background: var(--TsunamiWatchColor);
}
#tsunami_Yoho span {
  background: var(--TsunamiYohoColor);
}

.Wave_progress .PWave_value {
  background: var(--PwaveColor);
}
.Wave_progress .SWave_value {
  background: var(--SwaveColor);
}
.SWaveProgress {
  width: 50px;
  height: 50px;
  padding: 0 !important;
}
.SWaveProgress svg {
  width: 50px;
  height: 50px;
  transform: rotate(270deg);
  stroke: var(--SwaveColor);
  margin: 0;
}
.epicenterIcon {
  width: 30px;
  height: 30px;
  z-index: 100;
}
.homeIcon {
  width: 30px;
  height: 30px;
  z-index: 99;
  top: -15px;
}
.epiCenterTooltip {
  display: none;
  background: #222;
  color: #fff;
  font-size: 16px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  text-align: center;
  border: none;
  z-index: 100;
}
.epiCenterTooltip .maplibregl-popup-content {
  padding: 0;
  min-width: 0;
}
.epiCenterTooltip .maplibregl-popup-tip {
  display: none;
}
.epiCenterTooltip::before {
  display: none;
}
.EEWLocalID {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #333;
  color: #fff;
  display: inline-block;
  margin: 0 3px 0 0;
  border-radius: 3px;
  font-family: "BIZ UDPGothic";
  font-weight: normal;
}
#legendWrap {
  max-height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 25px 40px 5px;
  z-index: 100000000;
  text-align: right;
  max-width: 50vw;
  pointer-events: none;
}
.legend {
  display: inline-block;
  background: #444444;
  border-radius: 5px;
  overflow: hidden;
  padding: 8px;
  width: fit-content;
}

.legend img {
  max-height: 40vh;
  max-width: 20vw;
}
#legend1,
#legend2 {
  display: none;
}

@media (max-width: 600px) {
  #mainContent {
    display: block;
  }
  #sideBar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 100000000;
  }
  #sideBar.close #sokuho-Panel {
    display: block;
    border-radius: 0 0 0 10px;
    max-height: 50vh;
  }
  #sideBar.close {
    width: auto;
    height: auto;
    background: transparent;
    border-left: none;
  }
  .close #SideBarToggle {
    right: 0;
    left: auto;
  }
}
.maplibregl-control-container * {
  z-index: 100000000;
}
