@charset "utf-8";
:root {
  --PwaveColor: rgb(48, 148, 255);
  --SwaveColor: rgb(255, 62, 48);
}
#mapcontainer_Wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
}
#layerSwitch_toggle {
  border-radius: 5px;
  background: #3f3f42;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  font-size: 22px;
  width: 45px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  z-index: 100000001;
}
#menu {
  position: absolute;
  background: #3f3f42;
  border: solid 1px #62626c;
  border-radius: 10px;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  padding: 0;
  max-width: 100%;
}
#menu_wrap {
  position: absolute;
  inset: 0;
  display: none;
  z-index: 100000001;
  background: rgba(0, 0, 0, 0.5);
}
#menu_content {
  padding: 5px;
}
#menu_wrap.menu_show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu label input {
  accent-color: #fff;
  margin: 0 5px 0 3px;
  vertical-align: text-bottom;
}

.menu h3 {
  font-size: 16px;
  font-family: inherit;
  margin: 10px 0 0 10px;
}
.menu label {
  display: block;
  padding: 2px 5px;
  margin: 3px 0;
  font-size: 14px;
  border-radius: 4px;
  color: #eee;
}
.menu label:hover {
  outline: solid 2px rgb(149, 46, 46);
  color: #fff;
}
.menu label:has(input:checked) {
  background: rgb(149, 46, 46);
  color: #fff;
}
#mapcontainer {
  display: inline-block;
  width: 100%;
  height: 100vh;
  font-size: 14px;
  background: #180e0e;
  outline: none;
  border: none;
}
#mapcontainer canvas {
  outline: none;
  filter: drop-shadow(0 0 12px rgba(255,255,255,0.15));
}

.maplibregl-ctrl {
  background: #3f3f42;
  color: #fff;
  border: solid 1px #62626c;
}
.maplibregl-ctrl-group button,
.maplibregl-ctrl-group button:hover {
  margin: 0;
  width: 40px;
  height: 35px;
  background: transparent !important;
}
.maplibregl-ctrl-group button + button {
  border-top: none;
}
.maplibregl-ctrl button .maplibregl-ctrl-icon {
  display: none;
}
.maplibregl-ctrl button::before {
  color: #eee;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  font-size: 17px;
}
.maplibregl-ctrl button.maplibregl-ctrl-zoom-in::before {
  content: "add";
}
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out::before {
  content: "remove";
}
.maplibregl-ctrl button.maplibregl-ctrl-compass::before {
  content: "unfold_more";
}

#kmoniCanvas {
  display: none;
}

.maplibregl-popup {
  z-index: 1000;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: #88888b !important;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #88888b !important;
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-right-color: #88888b !important;
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: #88888b !important;
}

.maplibregl-popup-content {
  background: #222225;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  max-width: 400px;
  border: solid 1px #88888b;
}
.maplibregl-popup-wrapper {
  border-radius: 3px;
  padding: 0;
}
.PointPopup,
.maplibregl-popup-content {
  margin: 0;
  min-width: 180px;
  padding: 0;
}

.PointPopup h3,
.maplibregl-popup-content h3 {
  height: 30px;
  line-height: 30px;
  padding: 0 25px 0 5px;
  margin: 0;
  font-size: 16px;
  background: #4e4e51;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.maplibregl-popup-close-button,
.maplibregl-popup-close-button:focus {
  height: 30px;
  width: 30px;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  color: #ccc;
}
.maplibregl-popup-content p {
  padding: 0.3em 0;
  margin: 0;
}
.PointPopup h3 span {
  float: right;
  font-size: 11px;
  font-weight: normal;
  font-family: "BIZ UDPGothic", sans-serif;
  color: #ccc;
  line-height: 30px;
}

.maplibregl-popup-content table,
.PointPopup table {
  border-collapse: collapse;
  display: inline-table;
}
.maplibregl-popup-content th,
.maplibregl-popup-content td,
.PointPopup table th,
.PointPopup table td {
  padding: 0.2em 0.8em;
}
.maplibregl-popup-content td,
.PointPopup table td {
  text-align: left;
}

.marker-circle {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 50%;
  transition: none;
  z-index: 220;
}
.kmoni_hide .marker-circle {
  display: none;
}
.marker-circle-S-net {
  border-radius: 20%;
}
.zoomLevel_1 .detectingMarker,
.zoomLevel_2 .detectingMarker {
  outline: solid 2px rgb(203, 99, 43);
  /*transform: scale(1.2);*/
}
.zoomLevel_3 .detectingMarker,
.zoomLevel_4 .detectingMarker {
  outline: solid 3px rgb(203, 99, 43);
  /*transform: scale(1.2);*/
}
.zoomLevel_1 .strongDetectingMarker,
.zoomLevel_2 .strongDetectingMarker {
  outline: solid 2px rgb(203, 43, 43);
  /*transform: scale(1.5);*/
}
.zoomLevel_3 .strongDetectingMarker,
.zoomLevel_4 .strongDetectingMarker {
  outline: solid 3px rgb(203, 43, 43);
}

.hidePopup {
  display: none;
}
.PointPopup {
  width: 150px;
}
.PointName {
  border-bottom: solid 2px transparent;
  white-space: nowrap;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.PointName span {
  float: right;
  font-size: 11px;
  font-weight: normal;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 5px;
  color: #ccc;
}
.popupOpen .PointPopup {
  display: block;
}

.zoomLevel_1 .marker-circle {
  width: 3px;
  height: 3px;
}
.zoomLevel_2 .marker-circle {
  width: 8px;
  height: 8px;
}
.zoomLevel_3 .marker-circle {
  width: 15px;
  height: 15px;
}
.zoomLevel_4 .marker-circle {
  width: 25px;
  height: 25px;
}
.maplibregl-ctrl.maplibregl-ctrl-attrib {
  background: #3f3f42;
  color: #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 2px 5px;
  font-size: 10px;
  pointer-events: none;
}
.maplibregl-ctrl a {
  color: #ccc;
}
.maplibregl-ctrl-attrib-inner {
  display: block !important;
}
.maplibregl-ctrl-attrib-button {
  display: none !important;
}
#tsunamiSample {
  list-style: none;
  padding: 0;
  margin: 0;
}
#tsunamiSample li {
  display: inline-block;
  padding: 0;
  font-size: 14px;
}
#tsunamiSample li span {
  display: inline-block;
  height: 5px;
  width: 20px;
  vertical-align: middle;
  margin: 0 5px;
  forced-color-adjust: none;
  border: solid 1px #181818;
}

#tsunami_MajorWarning span {
  background: var(--TsunamiMajorWarningColor);
}
#tsunami_Warning span {
  background: var(--TsunamiWarningColor);
}
#tsunami_Watch span {
  background: var(--TsunamiWatchColor);
}
#tsunami_Yoho span {
  background: var(--TsunamiYohoColor);
}

.Wave_progress .PWave_value {
  background: var(--PwaveColor);
}
.Wave_progress .SWave_value {
  background: var(--SwaveColor);
}
.SWaveProgress {
  width: 50px;
  height: 50px;
  padding: 0 !important;
}
.SWaveProgress svg {
  width: 50px;
  height: 50px;
  transform: rotate(270deg);
  stroke: var(--SwaveColor);
  margin: 0;
}
.epicenterIcon {
  width: 30px;
  height: 30px;
  z-index: 1000;
}
.homeIcon {
  width: 30px;
  height: 30px;
  z-index: 999;
  top: -15px;
}
.epiCenterTooltip,
.epiCenterTooltip2 {
  display: none;
  background: #222225;
  color: #fff;
  font-size: 16px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  text-align: center;
  border: none;
  z-index: 1000;
  pointer-events: none;
}
.epiCenterTooltip .maplibregl-popup-content,
.epiCenterTooltip2 .maplibregl-popup-content {
  padding: 0;
  min-width: 0;
  pointer-events: none;
}
.epiCenterTooltip2 .maplibregl-popup-content {
  padding: 0 5px;
}
.epiCenterTooltip .maplibregl-popup-tip,
.epiCenterTooltip2 .maplibregl-popup-tip {
  display: none;
}
.epiCenterTooltip::before,
.epiCenterTooltip2::before {
  display: none;
}
.epiCenterTooltip2 {
  display: block;
  width: auto;
}

.EEWLocalID {
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  background: #3f3f42;
  border: solid 1px #363639;
  color: #fff;
  display: inline-block;
  margin: 0 3px 0 0;
  border-radius: 3px;
  font-family: "BIZ UDPGothic";
  font-weight: normal;
}
#legendWrap {
  max-height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 25px 40px 5px;
  z-index: 100000000;
  text-align: right;
  max-width: 50vw;
  pointer-events: none;
}
.legend {
  display: inline-block;
  background: #3f3f42;
  color: #fff;
  border: solid 1px #62626c;
  border-radius: 5px;
  overflow: hidden;
  padding: 8px;
  width: fit-content;
}

.legend img {
  max-height: 40vh;
  max-width: 20vw;
}
#legend1,
#legend2 {
  display: none;
}

#sideBar.close #sokuho-Panel {
  display: block;
  border-radius: 0 0 10px 10px;
  max-height: 50vh;
  position: absolute;
  top: 0;
  right: 60px;
  min-width: 300px;
  z-index: 99999;
  height: auto;
  border: solid 1px #62626c;
  border-top: none;
}

body {
  min-width: 450px;
}

#ShindoSample0 {
  background: var(--IntTheme_0_BgColor);
  color: var(--IntTheme_0_color);
}

#ShindoSample1 {
  background: var(--IntTheme_1_BgColor);
  color: var(--IntTheme_1_color);
}

#ShindoSample2 {
  background: var(--IntTheme_2_BgColor);
  color: var(--IntTheme_2_color);
}

#ShindoSample3 {
  background: var(--IntTheme_3_BgColor);
  color: var(--IntTheme_3_color);
}

#ShindoSample4 {
  background: var(--IntTheme_4_BgColor);
  color: var(--IntTheme_4_color);
}

#ShindoSample5m {
  background: var(--IntTheme_5m_BgColor);
  color: var(--IntTheme_5m_color);
}

#ShindoSample5p {
  background: var(--IntTheme_5p_BgColor);
  color: var(--IntTheme_5p_color);
}

#ShindoSample6m {
  background: var(--IntTheme_6m_BgColor);
  color: var(--IntTheme_6m_color);
}

#ShindoSample6p {
  background: var(--IntTheme_6p_BgColor);
  color: var(--IntTheme_6p_color);
}

#ShindoSample7 {
  background: var(--IntTheme_7_BgColor);
  color: var(--IntTheme_7_color);
}

#AlertArea {
  background-image: url(../img/AlertOverlay.png);
  background-color: #99999b;
  background-size: 10px;
}
#fillLegend {
  display: none;
  text-align: left;
  font-size: 0;
}
#fillLegend p {
  font-size: 14px;
  display: inline-block;
  padding: 0;
  margin: 0 2px;
  line-height: 30px;
  vertical-align: middle;
}
#fillLegend hr {
  margin: 2px 0;
  border-width: 2px;
}
.IntLegend {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  margin: 2px;
  font-family: "M PLUS 1p";
  vertical-align: middle;
  outline: solid 1px #999;
}
.IntLegend span {
  font-size: 12px;
  font-family: inherit;
}
.tsunamidetailwrap {
  padding: 5px;
}

.tsunami_st {
  width: 15px;
  height: 15px;
  font-size: 12px;
  color: #000;
  text-align: center;
  z-index: 221;
  line-height: 20px;
}
.tsunami_st div {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #fff;
  left: 0;
  outline: solid 1px rgba(0, 0, 0, 0.5);
  forced-color-adjust: none;
}
.tsunami_st span {
  display: none;
  position: absolute;
  left: 7.5px;
  line-height: 15px;
  color: #fff;
  height: 15px;
  border-radius: 0 7.5px 7.5px 0;
  padding: 0 3px 0 10.5px;
  background: rgba(0, 0, 0, 0.5);
}

.zoomLevel_2 .tsunami_st span,
.zoomLevel_3 .tsunami_st span,
.zoomLevel_4 .tsunami_st span {
  display: inline-block;
}

.TsunamiST99 {
  z-index: 224;
}
.TsunamiST30 {
  z-index: 223;
}
.TsunamiST10 {
  z-index: 222;
}
.TsunamiST02 {
  z-index: 221;
}

.TsunamiST99 div {
  background: var(--TsunamiMajorWarningColor);
}
.TsunamiST30 div {
  background: var(--TsunamiWarningColor);
}
.TsunamiST10 div {
  background: var(--TsunamiWatchColor);
}
.TsunamiST02 div {
  background: var(--TsunamiYohoColor);
}
.maplibregl-ctrl-compass {
  display: none !important;
}
.obsShindoWrap {
  border-radius: 4px;
  display: inline-block;
  font-family: "M PLUS 1p", sans-serif;
  margin-right: 5px;
  padding: 1px 5px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.obsShindoWrap span {
  font-size: 9px;
  padding-left: 4px;
  font-family: "AzeretMono-Regular", ui-monospace;
}
.obsPGAWrap {
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
  padding: 1px 5px;
  background: #4e4e51;
  border: solid 1px #62626c;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
  color: #eee;
  vertical-align: middle;
  font-family: "AzeretMono-Regular", ui-monospace;
}
.popupContentWrap {
  padding: 5px;
  text-align: center;
}
.hinanjoTitle {
  display: inline-block;
  font-family: "M PLUS 1p", sans-serif;
  margin-right: 5px;
  padding: 1px 5px;
  border-radius: 4px;
  background: rgb(47, 101, 57);
  color: #fff;
}
.popupContent {
  padding: 4px;
}
.pointName {
  display: inline-block;
  margin: 0 30px 0 5px;
}

@media (max-width: 600px) {
  #sideBar.close #sokuho-Panel {
    max-height: max(200px, 50vh);
    right: calc(50vw - 150px);
    min-width: 300px;
  }
  #sideBar.close #sokuho-Panel {
    display: block;
    max-height: 50vh;
  }
  #sideBar.close {
    width: auto;
    height: auto;
    background: transparent;
    border-left: none;
  }
  .close #SideBarToggle {
    right: 0;
    left: auto;
  }
}
.maplibregl-control-container * {
  z-index: 100000000;
}
.maplibregl-ctrl-group {
  box-shadow: none !important;
  border-radius: 5px;
  border: solid 1px #62626c;
}
.maplibregl-ctrl-group button {
  border-radius: 0 !important;
}
.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 8px 8px 0 0;
}
.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 8px 0 0 8px;
}
@media (forced-colors: active) {
  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
  .maplibregl-popup-anchor-top .maplibregl-popup-tip,
  .maplibregl-popup-anchor-left .maplibregl-popup-tip,
  .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    forced-color-adjust: none;
  }
  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: #fff !important;
  }
  .maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: #fff !important;
  }
  .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    border-right-color: #fff !important;
  }
  .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    border-left-color: #fff !important;
  }
  #menu_wrap {
    background: #000;
  }
  .legend {
    background: #000;
    color: #fff;
    border: solid 1px #fff;
    forced-color-adjust: none;
  }
  .legend hr {
    border-color: #fff;
  }
  .legend .IntLegend {
    forced-color-adjust: none;
    border-color: #fff;
  }
}
