body {
  overflow: hidden;
}

hr {
  border: none;
  border-top: solid 1px #777;
  margin: 20px 0;
}

.smalltext {
  font-size: 13px;
  color: #ccc;
}

#tab1_wrap {
  display: flex;
  height: 100%;
  overflow: hidden;
}

#tab1_content2 h2 {
  margin: 30px 0 15px 0;
}
#tab1_content2 h3 {
  margin: 1.7em 0 0.5em 0;
}

.EEWMode #tab1_wrap,
.TsunamiMode #tab1_wrap {
  height: 100%;
}

#tab1_bar {
  min-width: 250px;
  width: auto;
  height: 100%;
  writing-mode: unset;
  text-orientation: unset;
  padding: 5px 5px 45px 5px;
}
#tab1_bar .tabmenu {
  margin: 0;
  border-radius: 0;
  background: unset;
  display: block;
  padding: 0.1em 0.5em 0.1em 20px;
  background: #222;
  border: none;
}
#tab1_bar .tabmenu:hover {
  background: #333;
}
#tab1_bar .active_tabmenu {
  border-left: none;
  background: #333;
  color: #fff;
}
.active_tabmenu::before {
  content: "chevron_right";
  font-family: "Material Icons Round";
}

.tabgroup {
  display: block;
  padding: 0.5em;
  margin-top: 10px;
  color: #ccc;
  border-radius: 8px;
}
.tabgroupContent {
  position: relative;
  padding: 0 3px 3px 3px;
  border-radius: 0 0 8px 8px;
  background: rgb(149, 46, 46);
}
#tab1_bar .tabmenu:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#tab1_bar .tabmenu:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tabgroup::before {
  content: "expand_more";
  font-family: "Material Icons Round";
}
.active_tabgroup {
  background: rgb(149, 46, 46);
  color: #fff;
  border-radius: 8px 8px 0 0;
}
.active_tabgroup::before {
  content: "expand_less";
  font-family: "Material Icons Round";
}
.tabgroup:hover {
  background: rgba(149, 46, 46, 0.3);
}
.active_tabgroup:hover {
  background: rgb(149, 46, 46);
}

#softName {
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

#softName img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0 10px;
}

div .tabcontent {
  height: 100%;
  overflow: auto;
  padding: 20px 20px 60px 20px !important;
  max-width: 600px;
}
#tab1_content2 {
  max-width: none;
}
#BtnWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  border-top: solid 1px #666;
  text-align: center;
  font-size: 0;
}

#BtnWrap button {
  margin: 5px;
}

#mapcontainer {
  width: 100%;
  height: 300px;
  background: rgb(39, 32, 32);
  border: solid 1px #555;
  border-radius: 10px;
}

.ActiveSaibun {
  fill: rgb(167, 40, 40);
}

#smallWrap {
  text-align: center;
}

h3 {
  margin: 0 0 30px 0;
}
h3 span {
  font-size: 14px;
  color: #ccc;
}
h3 span::after {
  content: " > ";
  font-size: 14px;
  color: #ccc;
}

section {
  padding: 0 0 0 20px;
}

h4 {
  margin: 1.7em 0 0.5em 0;
  font-size: 18px;
}

.contentWrap {
  margin: 0 0 0 2.5em;
}
#tab1_menu2 {
  margin-top: 30px;
}
#flexContainer {
  display: flex;
  align-items: center;
}
#update-icon,
#update-content,
#update-button-wrap {
  padding: 3px 10px;
}
#update-version {
  font-size: 12px;
}
#update-wrap {
  background: #222;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 20px 0;
}
#update-wrap h3 {
  margin: 0 0 15px 0;
}
#update-icon::before {
  font-size: 40px;
  font-family: "Material Icons Round";
  text-align: center;
  width: 100%;
  vertical-align: bottom;
}
.U-error #update-icon::before {
  content: "error";
  color: rgb(207, 64, 64);
}
.U-available #update-icon::before {
  content: "system_update_alt";
  color: rgb(75, 160, 238);
}
.U-not_available #update-icon::before {
  content: "check_circle";
  color: rgb(64, 207, 93);
}
#update-check-date-wrap {
  color: #ccc;
  font-size: 12px;
  margin-top: 10px;
}
#check_update {
  height: 40px;
  min-width: 60px;
}
#check_update::before {
  content: "autorenew";
  font-family: "Material Icons Round";
  vertical-align: bottom;
}
#update-detail-wrap {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
label {
  display: block;
  padding: 0.2em 0;
}
label input[type="text"],
label input[type="number"],
label input[type="datetime-local"],
label select {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  border: solid 1px #888;
  outline: none;
}
label input[type="text"]:focus,
label input[type="number"]:focus,
label input[type="datetime-local"]:focus,
label select:focus {
  border: solid 1px #ccc;
  outline: solid 1px #ccc;
}

label input[type="text"],
label input[type="number"],
label input[type="range"],
label input[type="datetime-local"],
label select {
  width: 100%;
}
ul,
ol {
  margin: 0;
}
#tab1_bar .tabmenu#tab1_menu2 {
  padding: 0.5em;
  margin-top: 20px;
  border-radius: 8px;
}
#tab1_bar .material-icons-round {
  letter-spacing: 0.13em;
}
#layerSwitch_toggle {
  margin: 0;
}
#tab1_content2 {
  line-height: 1.5em;
}
#tab1_content2 li {
  margin: 0.5em 0;
}
