body {
  overflow: hidden;
}

button {
  margin: 6px 9px 6px 0;
}

.smalltext {
  font-size: 13px;
  color: #ccc;
}

label .smalltext {
  display: inline-block;
  margin-left: 4px;
}

#tab1_wrap {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
}

#tab1_content {
  background: #3f3f42;
  overflow: auto;
}

#tab1_content2 h2 {
  margin: 30px 0 15px 0;
}
#tab1_content2 h3 {
  margin: 1.7em 0 0.5em 0;
}

.EEWMode #tab1_wrap,
.TsunamiMode #tab1_wrap {
  height: 100%;
}

#tab1_bar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: auto;
  height: 100%;
  writing-mode: unset;
  text-orientation: unset;
  padding: 0;
  background: #222225;
}
#tab1_bar .tabmenu {
  margin: 2px 0;
  border-radius: 0;
  background: unset;
  display: block;
  padding: 0.4em 0.7em 0.4em 15px;
  border-radius: 4px;
  background: #222225;
  border: solid 1px transparent;
}
#tab1_bar .tabmenu:hover,
#tab1_bar .tabmenu:focus {
  background: #303033;
}
#tab1_bar .active_tabmenu:hover,
#tab1_bar .active_tabmenu:focus {
  background: rgb(149, 46, 46);
}

#tab1_bar .active_tabmenu {
  background: rgb(149, 46, 46);
  color: #fff;
}

.active_tabmenu::after {
  content: "chevron_right";
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  float: right;
}

._tabgroup {
  position: relative;
  padding: 3px;
  border-radius: 8px;
}

#MenuBar h2 {
  font-size: 13px;
  font-weight: normal;
  padding: 0.2em 0.5em;
  margin: 20px 0 0 0;
  color: #ccc;
  font-family: "BIZ UDPGothic", sans-serif;
  text-align: center;
  border-bottom: solid 2px #62626c;
}

#softName {
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

#softName img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0 17px 0 0;
}

#softName a {
  color: inherit;
  text-decoration: unset;
}

div .tabcontent {
  height: auto;
  overflow: visible;
  padding: 20px !important;
  max-width: 600px;
}
#tab1_content2 {
  max-width: none;
}
#MenuBar {
  overflow-y: scroll;
  height: 100%;
  padding: 0 0 10px 5px;
}
#BtnWrap {
  line-height: 40px;
  border-top: solid 1px #62626c;
  text-align: center;
  font-size: 0;
  margin: 0 8px 8px 3px;
  background: #222225;
}

#BtnWrap button {
  margin: 5px;
}
#BtnWrap span {
  font-size: 12px;
  display: block;
  height: auto;
  line-height: 20px;
  color: #ccc;
}
#apply2 {
  background: rgb(149, 46, 46);
}

#mapcontainer {
  width: 100%;
  height: 300px;
  background: rgb(39, 32, 32);
  border: solid 1px #62626c;
  border-radius: 10px;
}
#mapcontainer canvas {
  outline: none;
  filter: none;
}

.ActiveSaibun {
  fill: rgb(167, 40, 40);
}

#smallWrap {
  text-align: center;
}

h3 {
  margin: 0 0 30px 0;
}
h3 span {
  font-size: 14px;
  color: #ccc;
}
h3 span::after {
  content: " > ";
  font-size: 14px;
  color: #ccc;
}

section {
  padding: 0 0 0 20px;
}

h4 {
  margin: 1.7em 0 0.5em 0;
  font-size: 18px;
  border-bottom: solid 2px #62626c;
  line-height: 28px;
}
#tab1_content2 h4 {
  border: none;
}

h5 {
  margin: 1.7em 0 0.5em 0;
  font-size: 16px;
}

.contentWrap {
  margin: 0 0 0 2.5em;
}
#tab1_menu2 {
  margin-top: 30px;
}
#flexContainer {
  display: flex;
  align-items: center;
}
#update-icon,
#update-content,
#update-button-wrap {
  padding: 3px 8px;
}
#update-content{
  width: 100%;
}
#update-version {
  font-size: 12px;
}
#update-wrap {
  background: #222225;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 20px 0;
  width: 550px;
  max-width: 100%;
}
#update-wrap h3 {
  margin: 0 0 15px 0;
}
#update-icon::before {
  font-size: 40px;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  text-align: center;
  width: 100%;
  vertical-align: bottom;
}
.U-error #update-icon::before {
  content: "error";
  color: rgb(207, 64, 64);
}
.U-available #update-icon::before {
  content: "system_update_alt";
  color: rgb(75, 160, 238);
}
.U-not_available #update-icon::before {
  content: "check_circle";
  color: rgb(64, 207, 93);
}
#update-check-date-wrap {
  color: #ccc;
  font-size: 12px;
  margin-top: 10px;
}
#check_update {
  min-width: 100px;
  padding: 10px 5px;
}
#check_update::before {
  content: "autorenew";
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  vertical-align: bottom;
}
#update-detail-wrap {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
label {
  display: block;
  padding: 7px 0;
}
label input[type="text"],
label input[type="number"],
label input[type="datetime-local"],
label select {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  background: #363639;
  border: solid 1px #88888b;
  outline: none;
}
label input[type="text"]:focus,
label input[type="number"]:focus,
label input[type="datetime-local"]:focus,
label select:focus {
  border: solid 1px #ccc;
  outline: solid 1px #ccc;
  outline-offset: 0;
}

label input[type="text"],
label input[type="number"],
label input[type="range"],
label input[type="datetime-local"],
label select {
  width: 100%;
}
ul,
ol {
  margin: 0;
}
#tab1_bar .tabmenu#tab1_menu2 {
  padding: 0.5em;
  margin-top: 20px;
  border-radius: 8px;
}
#tab1_bar .material-icons-round {
  letter-spacing: 0.13em;
  font-size: 18px;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 22;
}
#layerSwitch_toggle {
  margin: 0;
}
#tab1_content2 {
  line-height: 1.5em;
}
#tab1_content2 li {
  margin: 0.5em 0;
}
#update_BtnWrap {
  font-size: 0;
  text-align: center;
  margin: 3px 0;
}
#update_BtnWrap button {
  margin: 3px;
}
#update-check-date-wrap {
  margin: 0;
}
#update-detail {
  font-size: 14px;
  line-height: 1.4em;
  background: #3f3f42;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #62626c;
  max-height: 51px;
  overflow: auto;
  max-width: 500px;
}
summary {
  margin-left: 0;
  margin-right: 0;
}
.tableWrap {
  border: solid 1px #88888b;
  background: none;
  padding: 8px;
  border-radius: 5px;
  margin: 8px 0;
  overflow: auto;
}
.tagTable,
.sampleTextTable {
  font-size: 12px;
  color: #ccc;
}
.tagTable td,
.tagTable th,
.sampleTextTable td,
.sampleTextTable th {
  padding: 2px 7px;
  white-space: nowrap;
}
.tagTable td:nth-child(1),
.sampleTextTable td:nth-child(2) {
  user-select: all;
}

#parenthesis_sample {
  margin-top: 10px;
}
.infoType {
  white-space: nowrap;
  overflow-x: scroll;
  font-size: 12px;
}
.VoiceSettingContent {
  display: none;
  padding: 15px 10px;
}
.VoiceEngine_Wrap,
#notify_threshold,
#T_notify_threshold {
  border: solid 1px #88888b;
  color: #ccc;
  margin: 10px 0;
  border-radius: 5px;
  opacity: 0.8;
}
#notify_threshold,
#T_notify_threshold {
  padding: 8px 13px;
  cursor: not-allowed;
}
#notify_threshold label,
#T_notify_threshold label,
#notify_threshold label *,
#T_notify_threshold label * {
  cursor: inherit !important;
}
#notify_threshold h5,
#T_notify_threshold h5 {
  margin: 3px 0 7px 0;
}
.VoiceEngine_Wrap:has(input:checked),
#notify_setting_wrap:has(#NotificationSound:checked) #notify_threshold,
#T_notify_setting_wrap:has(#Tsunami_NotificationSound:checked)
  #T_notify_threshold {
  border: solid 1px #ff9292;
  background: #ff929220;
  color: #ccc;
  opacity: 1;
  cursor: auto;
}

.VoiceEngine_Wrap:has(input:checked) .VoiceSettingContent {
  display: block;
}

#thresholds_wrap:has(#Bypass_threshold:checked) #thresholds,
#T_thresholds_wrap:has(#Tsunami_Bypass_threshold:checked) #T_thresholds {
  opacity: 0.8;
  cursor: not-allowed;
}
#IntSample_wrap {
  border: solid 1px #88888b;
  border-radius: 5px;
  padding: 4px;
  display: inline-block;
}
#IntSample_wrap h5 {
  border-bottom: solid 2px #62626c;
  padding: 1px 5px;
  margin: 0 0 4px 0;
}
#IntSample_table {
  margin: 0 4px;
}
#IntSample_table,
#IntSample_table tr,
#IntSample_table th,
#IntSample_table td {
  border: none;
}

#IntSample_table th {
  font-weight: normal;
  text-align: right;
}

#IntSample_table th span {
  white-space: nowrap;
}

#ShindoSample,
#LngIntSample {
  font-size: 0;
  text-align: left;
}

#ShindoSample span,
#LngIntSample span {
  font-size: 16px;
}

#ShindoSample div,
#LngIntSample div {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  margin: 3px 2px;
  font-family: "M PLUS 1p";
  vertical-align: middle;
  outline: solid 1px #999;
}
#ShindoSample div span,
#LngIntSample div span {
  font-size: 12px;
  font-family: inherit;
}

#ShindoSampleQ {
  background: var(--IntTheme_Q_BgColor);
  color: var(--IntTheme_Q_color);
}

#ShindoSample0 {
  background: var(--IntTheme_0_BgColor);
  color: var(--IntTheme_0_color);
}

#ShindoSample1 {
  background: var(--IntTheme_1_BgColor);
  color: var(--IntTheme_1_color);
}

#ShindoSample2 {
  background: var(--IntTheme_2_BgColor);
  color: var(--IntTheme_2_color);
}

#ShindoSample3 {
  background: var(--IntTheme_3_BgColor);
  color: var(--IntTheme_3_color);
}

#ShindoSample4 {
  background: var(--IntTheme_4_BgColor);
  color: var(--IntTheme_4_color);
}

#ShindoSample5m {
  background: var(--IntTheme_5m_BgColor);
  color: var(--IntTheme_5m_color);
}

#ShindoSample5p {
  background: var(--IntTheme_5p_BgColor);
  color: var(--IntTheme_5p_color);
}

#ShindoSample6m {
  background: var(--IntTheme_6m_BgColor);
  color: var(--IntTheme_6m_color);
}

#ShindoSample6p {
  background: var(--IntTheme_6p_BgColor);
  color: var(--IntTheme_6p_color);
}

#ShindoSample7 {
  background: var(--IntTheme_7_BgColor);
  color: var(--IntTheme_7_color);
}

#LngIntSampleQ {
  background: var(--LngIntTheme_Q_BgColor);
  color: var(--LngIntTheme_Q_color);
}

#LngIntSample1 {
  background: var(--LngIntTheme_1_BgColor);
  color: var(--LngIntTheme_1_color);
}

#LngIntSample2 {
  background: var(--LngIntTheme_2_BgColor);
  color: var(--LngIntTheme_2_color);
}

#LngIntSample3 {
  background: var(--LngIntTheme_3_BgColor);
  color: var(--LngIntTheme_3_color);
}

#LngIntSample4 {
  background: var(--LngIntTheme_4_BgColor);
  color: var(--LngIntTheme_4_color);
}
#flex_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
#flex_wrap div {
  padding: 0 30px;
}
#flex_wrap div p {
  margin: 10px 0;
}
#flex_wrap div:first-child {
  border-right: solid 1px #666;
}
#ud_logo {
  width: 60px;
  width: 60px;
}
@media (forced-colors: active) {
  #tab1_bar {
    border-right-style: solid;
    border-right-width: 1px;
  }
  #update-wrap {
    border-style: solid;
    border-width: 1px;
  }
  .tableWrap {
    border-style: solid;
    border-width: 1px;
  }
  .tabmenu::before,
  .active_tabmenu::before {
    content: "";
  }
  #tab1_bar .active_tabmenu,
  #tab1_bar .active_tabmenu:hover {
    filter: invert(1);
  }
  .active_tabmenu::after {
    font-size: 22px;
  }
  #ShindoSample div,
  #ShindoSample div *,
  #LngIntSample div,
  #LngIntSample div * {
    forced-color-adjust: none;
    border-color: #fff;
  }
}
