@charset "utf-8";
#loading-wrap,
.mini-loading-wrap {
  margin: 80px auto 0 auto;
  text-align: center;
  background-image: url(../img/loading.png);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}

html,
body {
  min-width: 300px;
  color: #fff;
  line-height: 1.4em;
  font-size: 16px;
  user-select: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color-scheme: dark;
  overflow-x: hidden;
  background: #222225;
}

@font-face {
  font-family: "BIZ UDPGothic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("BIZ UDPGothic"),
    url(../font/BIZUDPGothic-Regular.woff) format("woff2");
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local("MPLUS1p-ExtraBold"),
    url(../font/MPLUS1p-ExtraBold.woff) format("woff2");
}
@font-face {
  font-family: "Material Symbols";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url(../font/MaterialSymbols.woff2) format("woff2");
}
@font-face {
  font-family: "AzeretMono-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    local("AzeretMono-Regular"),
    url(../font/AzeretMono-Regular.woff) format("woff2");
}

.material-icons-round {
  font-family: "Material Symbols";
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: sub;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}

.mini-loading-wrap {
  width: 30px;
  height: 30px;
}

#alertFrame {
  display: none;
  position: fixed;
  inset: 5px;
  border-radius: 15px;
  box-shadow: 0 0 0px 15px rgba(255, 0, 0, 0.5);
  z-index: 100000004;
  pointer-events: none;
}

* {
  font-family: "BIZ UDPGothic", sans-serif;
  box-sizing: border-box;
  accent-color: #ccc;
}
*[type="checkbox"],
*[type="radio"] {
  accent-color: rgb(255 146 146);
}

hr {
  border: none;
  border-top: solid 2px #62626c;
  margin: 20px 0;
}

a:any-link {
  color: rgb(255 192 192);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "M PLUS 1p", sans-serif;
}
img {
  pointer-events: none;
}
main {
  position: relative;
  height: 100vh;
}
#mainContent {
  position: relative;
  display: flex;
  height: 100%;
}

#splash {
  position: fixed;
  inset: 0;
  background: #222225;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000005;
}
#splash img {
  pointer-events: none;
}
.EEWMode #alertFrame,
.TsunamiMode #alertFrame {
  display: block;
}
#replayFrame {
  display: none;
  position: fixed;
  inset: 5px;
  top: 30px;
  border-radius: 15px;
  box-shadow: 0 0 0px 35px rgba(56, 124, 143, 0.8);
  z-index: 100000004;
  pointer-events: none;
  text-align: center;
}
#replayFrame span {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  line-height: 30px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar-corner {
  background: rgba(128, 128, 128, 0.1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  border: 3px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.8);
  border: 2px solid transparent;
}

#offline {
  padding: 0.5em 1em;
  color: #fff;
  background: #3f3f42;
  border: solid 3px rgb(177, 46, 46);
  text-align: center;
}
#offline h2 {
  padding: 0.2em;
  background: rgb(177, 46, 46);
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
}
#offline::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#offline2 {
  display: none;
  font-size: 20px;
  font-family: "M PLUS 1p", sans-serif;
  margin: 5px 0;

  font-size: 16px;
  background: rgb(175, 54, 54);
  color: #fff;
  padding: 5px 0.5em;
  text-align: center;
}

#sideBar {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: solid 1px #4e4e51;
  width: 350px;
}
#sideBar.close {
  width: 0;
}
#sideBar.close #tab1_wrap,
#sideBar.close #sokuho-Panel,
#sideBar.close #UpdateTimeWrap {
  display: none;
}
#SideBarToggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  height: 60px;
  width: 20px;
  margin: auto;
  border-radius: 10px 0 0 10px;
  padding: 0;
  z-index: 100000002;
}
#SideBarToggle span {
  display: inline-block;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  color: #ccc;
  font-size: 20px;
}
#sideBar.close #SideBarToggle::before {
  transform: rotate(180deg);
}

#sokuho-Panel {
  padding: 5px;
  min-height: 60px;
  height: auto;
  max-height: 45%;
  overflow: auto;
  background: #101013;
  flex-shrink: 0;
}

#noEEW {
  text-align: center;
  line-height: 50px;
  color: #ccc;
}

.list-item {
  background: #222225;
  border-radius: 5px;
  font-size: 18px;
  overflow: hidden;
  margin: 10px;
  border: solid 1px #62626c;
}

#tsunamiWrap,
#tsunamiRevocation,
#tsunamiCancel {
  display: none;
}

#tsunamiCancel,
#tsunamiRevocation {
  text-align: center;
  font-family: "M PLUS 1p", sans-serif;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
}
#tsunamiCancel button,
#tsunamiRevocation button {
  width: 25px;
  height: 25px;
  border-radius: 50% 0 0 50%;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  border: none;
  float: right;
  margin: 0;
  padding: 0;
  background: #4e4e51;
}
#tsunamiCancel button:hover,
#tsunamiRevocation button:hover {
  background-color: rgb(149, 46, 46);
}
h2 {
  font-size: 20px;
  font-family: "M PLUS 1p", sans-serif;
  margin: 0;
}
.Alert_content_wrap {
  position: relative;
  padding: 8px 10px 10px 10px;
}
.EEW_content_wrap {
  display: flex;
  align-items: center;
}

.list-item h2 {
  font-size: 16px;
  padding: 3px 0.5em;
  background: #3f3f42;
}
.maxInt_Wrap {
  display: flex;
  margin-bottom: 5px;
}
.EEWWrap .maxInt_description {
  color: #999;
  font-size: 11px;
  margin: 0;
  writing-mode: vertical-rl;
  align-items: center;
  line-height: 1em;
  padding-right: 4px;
}
.EEWWrap h2,
.EQDItem h2,
.EEWWrap.EarlyEst h2 {
  float: none;
  background: rgb(39, 110, 50);
  color: #fff;
}
#tsunamiTitle {
  background: #3f3f42;
  border-bottom: solid 2px #fff;
}

.EEWWrap.yohou h2,
.EQDItem.lv1 h2 {
  background: rgb(212, 214, 91);
  color: #000;
}
.EEWWrap.keihou h2,
.EQDItem.lv2 h2 {
  background: rgb(175, 54, 54);
  color: #fff;
}
.Title_EarlyEst,
.Title_EEW {
  display: none;
}
.EEWWrap.keihou .Title_EEW,
.EEWWrap.yohou .Title_EEW {
  display: inline;
}
.EEWWrap.EarlyEst .Title_EarlyEst {
  display: inline;
}
.EEWWrap.EarlyEst .alertflg {
  display: none;
}

.EQDItem.lv1 h2::after {
  content: " 弱い検知";
}
.EQDItem.lv2 h2::after {
  content: " 強い検知";
}
.EQD_Regions {
  padding: 5px;
}
.detail_text {
  flex: 1;
  margin: 0 0 0 10px;
  max-width: 200px;
}
.GraphicalDataWrap {
  text-align: center;
  margin: 0;
}
.userDataWrap {
  display: flex;
  height: 50px;
  border-radius: 25px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  forced-color-adjust: none;
}

.dataGroup1 {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}
.EpicenterElement {
  color: #ccc;
  font-size: 14px;
}
.EpicenterElement div {
  display: inline-block;
  white-space: nowrap;
}
.NoEpicenterElement {
  font-size: 14px;
  color: #ccc;
  white-space: nowrap;
}
.magnitude {
  font-size: 32px;
  margin: 0 14px 0 6px;
  font-family: "AzeretMono-Regular", ui-monospace;
  font-weight: bold;
  color: #fff;
}
.magnitude.UnknownMag {
  color: #ccc;
  font-size: 21px;
}
.depth {
  font-size: 21px;
  font-family: "AzeretMono-Regular", ui-monospace;
  font-weight: bold;
  margin: 0 3px;
  color: #fff;
}
.depth.UnknownDepth {
  color: #ccc;
  font-size: 18px;
}
.depth_unit {
  color: #fff;
}
.region_name {
  text-align: center;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.origin_time {
  font-size: 14px;
  color: #ccc;
  text-align: center;
  white-space: nowrap;
  font-family: "AzeretMono-Regular", ui-monospace;
}
.graphWrap {
  border-radius: 22px;
  width: 44px;
  height: 44px;
  margin: 2px;
  background: #222225;
  overflow: hidden;
  outline: solid 2px rgb(0, 0, 0, 0.2);
}
.userLocationWrap {
  color: #ccc;
  font-size: 14px;
}
.userLocation {
  display: inline-block;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.countDown {
  font-size: 16px;
  font-family: "AzeretMono-Regular", ui-monospace;
  stroke-width: 2px;
  stroke: #222225;
  paint-order: stroke;
}
.distance {
  font-size: 9px;
  font-family: "AzeretMono-Regular", ui-monospace;
  stroke-width: 2px;
  stroke: #222225;
  paint-order: stroke;
}
.arrived {
  stroke-width: 2px;
  stroke: #222225;
  paint-order: stroke;
}

.maxInt {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  font-size: 40px;
  text-align: center;
  line-height: 58px;
  font-family: "M PLUS 1p";
  border: solid 1px rgba(255, 255, 255, 0.15);
  forced-color-adjust: none;
}
.userIntensity {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px 0 4px 4px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  font-family: "M PLUS 1p";
}
.PWave_value {
  stroke: var(--PwaveColor);
}
.SWave_value {
  stroke: var(--SwaveColor);
}

h2.training {
  display: none;
  text-align: center;
  background: rgb(66, 118, 186);
  color: #fff;
}
.EEW_MenuRight {
  float: right;
  text-align: right;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: solid 1px #62626c;
}

#tab1_wrap {
  display: flex;
  height: 100%;
  border-top: solid 1px #4e4e51;
  flex-direction: row-reverse;
  overflow: hidden;
}
#tab1_wrap .tabcontent {
  background: #3f3f42;
}

#bar1 {
  position: relative;
  width: 30px;
  flex-shrink: 0;
  line-height: 30px;
  font-size: 14px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  background: #222225;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
#bar1::-webkit-scrollbar {
  display: none;
}
#bar1.tabmenu {
  width: 30px;
}
#bar1 .material-icons-round {
  opacity: 0.8;
  margin: 0 5px;
}
#setting {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  vertical-align: middle;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  font-size: 18px;
  color: #ccc;
  margin: 0;
  padding: 0;
  writing-mode: horizontal-tb;
  flex-shrink: 0;
}
#setting:hover,
#setting:focus {
  background: rgb(149, 46, 46);
  color: #fff;
}

#tab1_content {
  position: relative;
  width: 100%;
  height: 100%;
}

.tabmenu {
  display: inline-block;
  padding: 0.5em 0;
  color: #999;
  cursor: pointer;
}
.tabmenu:hover {
  color: #ccc;
}
.tabmenu {
  margin: 4px;
  background: #363639;
  border: solid 1px #62626c;
  border-radius: 4px;
  color: #ccc;
}
.tabmenu:hover {
  background: rgba(128, 128, 128, 0.3);
  border: solid 1px rgba(128, 128, 128, 0.8);
}
#tab2_bar {
  padding: 4px 3px;
  background: #222225;
  border-bottom: solid 1px #4e4e51;
}
#tab2_bar .tabmenu {
  margin: 0 4px;
  height: 22px;
}
#bar1 .tabmenu {
  margin: 3px 0;
  border-radius: 0 7px 7px 0;
}
.active_tabmenu,
.active_tabmenu:hover {
  background: #999;
  border-color: #999;
  color: #222225;
}

.active_tabmenu:hover {
  background: #a3a3a3;
  border-color: #999;
  color: #111;
}
.active_tabgroup {
  background: #3f3f42;
  color: #fff;
}
.active_tabgroup:hover {
  color: #fff;
}
.tabcontent {
  display: none;
  height: 100%;
  padding: 5px;
  overflow: auto;
}
.active_tabcontent {
  display: block;
}
#tab1_content2 {
  padding: 5px;
}
#tab2_wrap {
  height: 100%;
}
#tab2_content {
  height: calc(100% - 30px);
  padding: 0;
  background: #3f3f42;
}
#tab2_content1,
#tab2_content2,
#tab1_content2 {
  padding: 3px 0 3px 3px;
}
#tab2_content .tabcontent {
  height: 100%;
  width: 320px;
  overflow: auto;
}
#tab2_bar {
  display: flex;
  height: 30px;
}
#tab2_bar .tabmenu {
  width: 100%;
  text-align: center;
  padding: 0 4px;
}
#tab1_content1 {
  padding: 0;
}
.EQInfo.activeEQInfo {
  display: block;
}
#EQInfoSelect {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: #222225;
}
.EQI_detailWrap {
  padding: 5px;
  flex: 1;
}
.EQI_datetime {
  margin-bottom: 7px;
  font-size: 14px;
  font-family: "AzeretMono-Regular", ui-monospace;
}
.EQItem,
#NankaiTroughInfo_Rinji,
#NankaiTroughInfo_Teirei,
#HokkaidoSanrikuInfo,
#KatsudoJokyoInfo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 7px 5px;
  background: #222225;
  border: solid 1px #181818;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.EQItem {
  padding: 6px;
}
.EQCount{
  display: block;
}
#NankaiTroughInfo_Rinji,
#NankaiTroughInfo_Teirei,
#HokkaidoSanrikuInfo,
#KatsudoJokyoInfo {
  display: none;
  font-size: 14px;
  padding: 5px 10px;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
#Nankai_Title {
  font-family: inherit;
}
#NankaiTroughInfo_Rinji.nankaiAlert,
#NankaiTroughInfo_Teirei.nankaiAlert {
  border: solid 2px var(--TsunamiWarningColor);
  color: #fff;
  font-family: "M PLUS 1p";
}
#NankaiTroughInfo_Rinji.nankaiWarn,
#NankaiTroughInfo_Teirei.nankaiWarn,
#HokkaidoSanrikuInfo.happyo {
  border: solid 2px var(--TsunamiWatchColor);
  color: #fff;
  font-family: "M PLUS 1p";
}
#NankaiTroughInfo_Rinji.nankaiInfo,
#NankaiTroughInfo_Teirei.nankaiInfo {
  border: solid 1px var(--TsunamiYohoColor);
  color: #fff;
}

#NankaiTroughInfo_Rinji.torikeshi,
#NankaiTroughInfo_Teirei.torikeshi {
  border: none;
}
.nankai_serial {
  font-size: 13px;
  color: #ccc;
  margin-left: 4px;
}

.EQI_line {
  display: flex;
  align-items: flex-end;
}
.EQI_maxI {
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  margin: auto 5px auto 0;
  font-family: "M PLUS 1p";
  border: solid 1px rgba(255, 255, 255, 0.15);
  forced-color-adjust: none;
}
.EQI_LgInt {
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  margin: auto 5px auto 0;
  background: #f00;
  border-radius: 3px;
  margin: 5px 0 0 0;
  line-height: 18px;
  border: solid 1px rgba(255, 255, 255, 0.15);
}
.EQI_LgIntBody {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-family: "M PLUS 1p";
}
.EEWNotes,
.trainingNotes,
.TestNotes {
  display: none;
  width: 100%;
  font-size: 14px;
  text-align: center;
  background: #111;
  border: solid 1px #f00;
  border-radius: 3px;
}
.trainingNotes,
.TestNotes {
  border: solid 1px rgb(51, 142, 222);
}

#tsunamiWrap .trainingNotes,
#tsunamiWrap .TestNotes {
  width: calc(100% - 10px);
  margin: 5px;
}

.EQItemOverlay {
  position: absolute;
  display: none;
  inset: 0;
  text-align: right;
  align-items: center;
  justify-content: right;
}
.EQItemOverlay:focus-within {
  display: block;
}
.EQItem:hover,
#NankaiTroughInfo_Rinji:hover,
#NankaiTroughInfo_Teirei:hover,
#HokkaidoSanrikuInfo:hover,
#KatsudoJokyoInfo:hover,
.EQItem:focus,
#NankaiTroughInfo_Rinji:focus,
#NankaiTroughInfo_Teirei:focus,
#HokkaidoSanrikuInfo:focus,
#KatsudoJokyoInfo:focus {
  background: #1c1c1f;
}
.EQItem.EQI_cancelled:hover {
  cursor: default;
}
.EQItem.EQI_cancelled:hover {
  background: #222225;
  transition: 0.2s;
}

.EQItemOverlay button {
  float: right;
  display: block;
  height: 100%;
  width: 100px;
  border-radius: 8px;
  border: none;
  background-color: #3f3f42;
  border: solid 2px rgb(149, 46, 46);
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  font-size: 40px;
  margin: 0;
}
.EQItemOverlay button:hover {
  background-color: rgb(149, 46, 46);
}
.cancelled {
  background: rgba(34, 34, 37, 0.8);
  backdrop-filter: blur(5px);
  position: absolute;
  display: none;
  inset: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.EQI_epiCenter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.EQI_magnitude_unit {
  font-size: 16px;
}
.EQI_magnitude_Wrap {
  font-family: "AzeretMono-Regular", ui-monospace;
  font-size: 18px;
  margin-left: auto;
  padding: 0 0 0 6px;
}
.EQI_magnitude {
  font-size: 26px;
  font-family: "AzeretMono-Regular", ui-monospace;
  margin-left: 5px;
  letter-spacing: -2px;
}

.infoOverlay {
  position: absolute;
  inset: 0;
  text-align: center;
}
.infoOverlay span {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2em 0.5em;
}
#UpdateTimeWrap {
  height: 30px;
  overflow-y: auto;
  max-height: 80vh;
  padding: 0;
  z-index: 1000;
  background: #222225;
  font-family: "AzeretMono-Regular", ui-monospace, sans-serif;
  text-align: center;
  display: flex;
  flex-shrink: 0;
}
#all_UpdateTime {
  display: inline-block;
  width: 100%;
  font-family: "AzeretMono-Regular", ui-monospace, sans-serif;
  border-top: solid 1px #4e4e51;
  line-height: 29px;/*border-topぶんの1pxひく*/
}
.statusIcon {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  vertical-align: middle;
  background: #999;
  margin: 10px;
}
.statusIcon.Success {
  background: rgba(16, 243, 0);
}
.statusIcon.Error {
  background: rgb(215, 11, 11);
}
.SuccessAnm {
  animation-name: SuccessAnm;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
.timeView {
  margin-left: 30px;
  font-size: 14px;
  color: #ccc;
  font-family: "AzeretMono-Regular", ui-monospace;
}
.timeView span {
  font-family: inherit;
}
#Internet_UT {
  display: none;
}
.timeItem {
  margin: 15px 0;
}
#kmoni_Message {
  color: #ccc;
  font-size: 14px;
  margin-left: 30px;
}
#UpdateTime_detail {
  position: relative;
  padding: 0;
}
#UpdateTime_detail_content {
  max-height: 80vh;
  overflow: auto;
  padding: 15px;
}
#UpdateTime_detail_content h3 {
  text-align: center;
  margin: 25px 0 0 0;
}
.popup_menubar {
  display: flex;
  height: 40px;
  background: #4e4e51;
  line-height: 40px;
}
.popup_menubar h2 {
  width: 100%;
  padding: 0 20px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popup_menubar button {
  height: 34px;
  width: 34px;
  float: right;
  font-family: "Material Symbols";
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  font-size: 16px;
  margin: 3px;
  padding: 0;
  border-radius: 7px;
  background: #3f3f42;
}
dialog {
  user-select: none;
  background: #3f3f42;
  border-radius: 10px;
  border: solid 1px #62626c;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
:focus,
.maplibregl-ctrl-group button:focus:focus-visible,
.menu label:has(:focus-visible) {
  outline: solid 2px #ff9292;
  outline-offset: 3px;
}
.maplibregl-ctrl-group button:focus:focus-visible,
.menu label:has(:focus-visible) {
  box-shadow: none !important;
}
/* キーボード操作以外でのフォーカス */
:focus:not(:focus-visible) {
  outline: none;
}
input,
select,
textarea {
  background: #2e2e2e;
}
button,
summary {
  background: #363639;
  color: #fff;
  border: solid 2px rgb(149, 46, 46);
  padding: 0.5em 0.7em;
  vertical-align: middle;
  border-radius: 10px;
  cursor: pointer;
  margin: 6px;
  overflow: hidden;
}
button:hover,
summary:hover {
  background-color: rgb(149, 46, 46);
  color: #fff;
}

button:focus,
summary:focus {
  background-color: rgb(149, 46, 46);
  color: #fff;
}

@keyframes SuccessAnm {
  0% {
    box-shadow: 0 0 0 0px rgb(16, 243, 0);
  }
  20% {
    box-shadow: 0 0 0 3px rgb(16, 243, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgb(16, 243, 0);
  }
}
#tsunami_button_wrap {
  display: flex;
  justify-content: center;
}
#tsunami_button_wrap button {
  display: inline-block;
  width: calc(50% - 10px);
  min-width: 120px;
  margin: 5px;
  border-radius: 7px;
  height: 30px;
}
#TsunamiMySectData {
  border-radius: 5px;
  text-align: center;
  border: solid 1px #f00;
  margin: 8px;
  padding: 3px;
}
#TsunamiMySectData h3 {
  margin: 0 0 3px 0;
  background: #3f3f42;
  padding: 3px;
  border-radius: 3px;
}
#firstHeightData,
#maxHeightData {
  font-size: 13px;
  color: #ccc;
  margin: 0 5px;
  display: inline-block;
}
#firstHeightData span,
#maxHeightData span {
  font-size: 18px;
  color: #fff;
  margin-left: 2px;
}
#firstHeightCondition {
  font-size: 14px;
  background: #ccc;
  color: #000;
  border-radius: 3px;
}
#tsunamiForecastWrap {
  text-align: left;
  padding: 2px 0;
}
#tsunamiSectTitle {
  font-size: 18px;
}
.usgs_Item .EQI_epiCenter {
  max-width: 150px;
  font-size: 14px;
}
#tsunamiHeadline {
  font-size: 14px;
  margin: 8px 5px 3px 5px;
  color: #ccc;
}
.tip {
  display: inline-block;
  padding: 1px 6px;
  border-radius: 3px;
  background: #3f3f42;
  border: solid 1px #62626c;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  margin: 2px;
}
#gaikyo_update_time,#wepa_update_time {
  font-size: 14px;
  text-align: center;
  color: #ccc;
  margin-top: 3px;
}
.EQI_gaikyo .EQI_datetime,
.EQI_wepa .EQI_datetime {
  color: #ccc;
}
.EQI_wepa .EQI_datetime {
  font-family: "AzeretMono-Regular", "BIZ UDPGothic", ui-monospace;
}
.EQI_headline {
  font-size: 14px;
}
@media (forced-colors: active) {
  #tab1_content {
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
  }
  .popup_menubar {
    border-bottom-style: solid;
    border-width: 3px;
  }
  .tabmenu {
    border-style: solid;
    border-width: 1px;
  }
  #tab2_bar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  #setting {
    border-style: solid;
    border-width: 1px;
  }

  .EQItem:hover {
    outline: solid 2px;
    filter: invert(1);
  }

  /*⇑に重ね掛けで色反転回避*/
  .EQItem:hover .EQI_maxI {
    filter: invert(1);
  }

  .tabmenu:hover,
  .active_tabmenu {
    background: #000;
    filter: invert(1);
  }
  .tabmenu::before {
    content: "☐ ";
  }
  .active_tabmenu::before {
    content: "☑ ";
  }
  dialog::backdrop,
  #menu_wrap {
    background: #000;
  }

  .EEWWrap.yohou h2,
  .EQDItem.lv1 h2,
  .EEWWrap.keihou h2,
  .EQDItem.lv2 h2 {
    border-bottom: solid 1px;
  }
  #replayFrame span {
    bottom: 2px;
    left: 2px;
    top: auto;
    width: fit-content;
    height: fit-content;
    border-width: 1px;
    border-style: solid;
    outline-offset: 2px;
    outline-width: 1px;
    outline-style: solid;
    background: #000;
    font-size: 18px;
    padding: 0 8px;
    border-radius: 4px;
  }
  .maplibregl-ctrl-group {
    border-style: solid;
    border-width: 1px;
  }
  .maplibregl-ctrl button:hover {
    filter: invert(1);
  }
  .menu label:has(input:checked) {
    filter: invert(1);
  }
  .menu label:has(input:checked) input {
    filter: invert(1);
  }
  ::-webkit-scrollbar-track:hover {
    border-width: 1px;
    border-style: solid;
  }
  ::-webkit-scrollbar-thumb {
    border-width: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-width: 5px;
  }
}
