@charset "utf-8";
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #222225;
  color: #fff;
  text-align: center;
  overflow-x: auto;
}
html {
  overflow: unset;
}

#comment_wrap {
  display: inline-block;
  min-width: max(50vw, 500px);
  max-width: 90vw;
  max-height: 150px;
  margin: 20px auto;
  text-align: left;
  padding: 5px;
  background: #181818;
  border: solid 1px #62626c;
  border-radius: 6px;
  overflow-y: auto;
}

#DTWrap {
  color: #ccc;
  font-size: 14px;
}

#comment {
  margin-top: 1.5em;
}

table {
  min-width: max(50vw, 500px);
  display: inline-table;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}
table th,
table tr,
table td {
  position: relative;
  border: none;
}

table tr th,
table tr td {
  border-left: solid 2px #4e4e51;
}

table tr td:nth-child(1),
table tr td:nth-child(2),
table tr th:nth-child(1),
table tr th:nth-child(2) {
  border-left: none;
}
tr#tablerow2 th {
  border-left: solid 2px #4e4e51;
}

.sub_header {
  height: 30px;
}
.sub_header_item {
  height: 24px;
  line-height: 24px;
  margin: auto 2px;
  font-weight: normal;
  border-radius: 4px;
  border: solid 1px #999;
}

.ListItem_detail * {
  font-size: 14px;
  line-height: 1.2em;
  padding: 5px 7px;
  color: #ccc;
}

#MajorWarningInfo,
#WarningInfo,
#WatchInfo,
#YohoInfo {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 101;
  background: #222225;
  height: 50px;
  font-size: 20px;
  display: none;
  text-align: center;
}
table thead {
  height: 80px;
  text-align: center;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 101;
  background: #222225;
}

#MajorWarningInfo th,
#WarningInfo th,
#WatchInfo th,
#YohoInfo th,
table thead th {
  height: 50px;
}

.ListIcon_MajorWarning,
.ListIcon_Warning,
.ListIcon_Watch,
.ListIcon_Yoho {
  display: inline-block;
  color: #000;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  font-size: 16px;
  border: solid 1px #181818;
}

table td {
  padding: 9px 10px;
  font-size: 16px;
}

table tr:nth-child(2n) {
  background: #363639;
}
table tr:nth-child(2) {
  font-size: 13px;
}
#tablerow2 {
  background: none;
}
#tablerow2 div {
  display: inline-block;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tablerow2 div span {
  display: inline-block;
  white-space: nowrap;
}

#MajorWarningInfo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: solid 2px var(--TsunamiMajorWarningColor);
}

#WarningInfo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: solid 2px var(--TsunamiWarningColor);
}

#WatchInfo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: solid 2px var(--TsunamiWatchColor);
}

#YohoInfo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: solid 2px var(--TsunamiYohoColor);
}

#revocation {
  font-size: 20px;
  padding: 20px;
}
#revocation {
  display: none;
}

.ListIcon_MajorWarning {
  background: var(--TsunamiMajorWarningColor);
}

.ListIcon_Warning {
  background: var(--TsunamiWarningColor);
}

.ListIcon_Watch {
  background: var(--TsunamiWatchColor);
}

.ListIcon_Yoho {
  background: var(--TsunamiYohoColor);
}

header {
  height: 70px;
  line-height: 70px;
  background: #3f3f42;
  border-bottom: solid 1px #62626c;
}
h1 {
  display: inline-block;
  margin: 0;
}

header div.trainingNotes,
header div.TestNotes {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: auto;
  padding: 0 10px;
  border-radius: 40px;
  margin: 20px 5px;
  vertical-align: top;
}

#no-data {
  background: #4e4e51;
  text-align: center;
  height: 50px;
}

.disabled-cell,
td:empty,
.disabled-wrap {
  text-align: center;
  font-size: 16px;
  color: #999;
}
td:empty::before {
  content: "-";
}
td:first-child::before {
  content: "";
}

.disabled-wrap {
  display: block;
}

.TxtIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ccc;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin-right: 3px;
  overflow: hidden;
  vertical-align: middle;
}
.add-content:focus {
  outline: solid 2px #ff9292;
  outline-offset: 3px;
  z-index: 100;
  background: #4e4e51;
}
.rising {
  background: #999;
  color: #222225;
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1;
}
@media (forced-colors: active) {
  table td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
  }
  .ListItem_detail td {
    border-top: none;
    border-bottom: none;
  }
}
